/* https://kuler.adobe.com/Campfire-color-theme-2528696/ */

.bob h3 {
  font-size: 28px;
}

.bob h1, h2 {
  text-align: center;
}

.bob h3, h4, h5 {
  text-align: left;
}

.bob .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: #588C73;
  border-color: #588C73;
}

.bob .btn:hover,
.bob .btn:focus {
  background-color: #D96459;
  border-color: #d40202;
}

.bob-name {
  font-weight: bold;
}

.bob img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.announcement { 
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

.marketing { 
  margin-left: 50px;
  margin-right: 50px;
}

.pc-row { margin-top:20px; }

h2.pc-member { 
  text-align: left;
}

p.pc-data { 
}

a {
  color: #8C4646;
}

a:hover,
a:focus {
  color: #8C4646;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  color: #8C4646;
  border-width: 10px;
  border-bottom-width: 10px;
  border-top-width: 10px;
  border-color: #ff0000;
  border-top: solid;
  border-bottom: solid;
}

#portrait {
  float: right;
}

.bcolor1 { 
  background-color: #588C7E;
}
.bcolor2 { 
  background-color: #F2E394;
}
.bcolor3 { 
  background-color: #F2AE72;
}
.bcolor4 { 
  background-color: #D96459;
}
.bcolor5 { 
  background-color: #8C4646;
}

.talk { 
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  height: 150px;
}

@media (max-width: 480px) {
    .talkfill {
        height: 20px;
    }
    .talktitle {  
        font-size: 8px;
    }
    .talkspeaker {  
        font-size: 6px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .talkfill {
        height: 30px;
    }
    .talktitle {  
        font-size: 14px;
    }
    .talkspeaker {  
        font-size: 10px;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .talkfill {
        height: 40px;
    }
    .talktitle {  
        font-size: 20px;
    }
    .talkspeaker {  
        font-size: 14px;
    }
}

@media (min-width: 991px) {
    .talkfill {
        height: 60px;
    }
    .talktitle {  
        font-size: 24px;
    }
    .talkspeaker {  
        font-size: 16px;
    }
}

.footer {
  margin-top: 20px;
}
