.bob h3 {
  font-size: 28px;
}

.bob h1, h2 {
  text-align: center;
}

.bob h3, h4, h5 {
  text-align: left;
}

.bob .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: #0bbb0b;
  border-color: #05aa05;
}

.bob .btn:hover,
.bob .btn:focus {
  background-color: #d40202;
  border-color: #d40202;
}

.bob-name {
}

.bob img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.announcement { 
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

.pc-row { margin-top:20px; }

h2.pc-member { 
  text-align: left;
}

p.pc-data { 
}
