/* https://kuler.adobe.com/Campfire-color-theme-2528696/ */

.bob h3 {
  font-size: 28px;
}

.bob h1, h2 {
  text-align: center;
}

.bob h3, h4, h5 {
  text-align: left;
}

.bob .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: #588C73;
  border-color: #588C73;
}

.bob .btn:hover,
.bob .btn:focus {
  background-color: #D96459;
  border-color: #d40202;
}

.bob-name {
}

.bob img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.announcement { 
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

.pc-row { margin-top:20px; }

h2.pc-member { 
  text-align: left;
}

p.pc-data { 
}

a {
  color: #8C4646;
}

a:hover,
a:focus {
  color: #8C4646;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  color: #8C4646;
  border-width: 10px;
  border-bottom-width: 10px;
  border-top-width: 10px;
  border-color: #ff0000;
  border-top: solid;
  border-bottom: solid;
}

#portrait {
  float: right;
}
