html, body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    height:100%;
    min-width: 350px;
}



/* We need this for positioning the footer properly */
.main {
    position: relative;
    min-height: 100%;
    /* This is the footer height, since it is positioned absolute */
    padding-bottom: 55px;
}


a, a:hover {
    color: #d6214a;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



.container {
    width: 1140px;
    max-width: 95%;
}



/* NAVBAR STUFF */


.navbar {
    background-color: black!important;
}


.navbar-expand-lg .navbar-nav .nav-item {
    float: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.8rem 0.6rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-expand-lg .menu-right {
    margin-right: -15px;
}

.navbar-expand-lg .menu-right .nav-link {
    padding-right: 0;
}

.nav-item .bob {
    padding: 0!important;
    margin-top: 4px;
    margin-bottom: -15px;
    margin-right: -60px;
    margin-left: -50px;
}



/* HEADER RELATED */

.header-wrapper {
    height: 250px; /* this is shrinked with media query above 768 */
}

.header-wrapper .twitter {
    margin-top: 0.5rem;
    margin-right: 1rem;
    float: right;
}

.language {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0.9rem;
    float: right;
}

.language a {
    font-weight: 700;
    text-decoration: none;
    margin-left: 0.7rem;
    color: black;
}

.splash .language {
    margin-top: -40px;
}

.language .selected {
    font-weight: 700;
    text-decoration: underline;
}

.header-wrapper a {
    font-weight: 700;
    text-decoration: none;
    margin-left: 0.7rem;
    color: black;
}

.header-background-2019 {
    background-image: url('/images/bobkonf_header_2019.jpg');
    background-repeat: no-repeat;
    background-position: top 90px  left -50px;
    background-size: 720px 105px;
}

.header-background-2019-summer {
    background-image: url('/images/bobkonf_header_2019-summer.jpg');
    background-repeat: no-repeat;
    background-position: top 90px  left -50px;
    background-size: 720px 105px;
}

@media(min-width: 400px){
    .header-wrapper {
        height: 320px;
    }
}

@media(min-width: 440px){
    .header-wrapper {
        background-position: top 90px left 20px;
    }
}


@media(min-width: 768px){
    .header-wrapper {
        background-position: bottom center;
        background-size: auto;
    }
}

.twitter-follow-button{
	  margin-top:5px;
	  padding:0px;
}

.counter {
    float: right;
    margin-top: 140px; /* this is shrinked with media query above 768 */
    font-family: 'Poppins';
}


@media(min-width: 400px){
    .counter {
        margin-top: 180px;
    }
}

@media(min-width: 768px){
    .counter {
        margin-top: 130px;
    }

    .header-wrapper {
        height: 360px;
    }
}

.counter h3 {
    text-align: right;
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #d6214a;
}

.counter .counter-elem {
    text-align: center;
    float: left;
    width: 4rem;
    margin-left: 1.2rem;
}

.counter .counter-elem .unit {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.counter .counter-elem .value {
    font-size: 2.8rem;
    margin-bottom: -0.8rem;
}

.counter .counter-elements {
    display: none;
}

@media(min-width: 400px){
    .counter .counter-elements {
        display: block;
    }
}


.content {
    margin-top: 90px;
}


.content h1 {
    font-weight: 400;
}


.content .front-page-col h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.content .front-page-col p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    margin-bottom: 30px;
}

.splash .container {
    position: relative;
}




.splash .content {
    background-color: #f1f1e5;
    margin: 0;
    padding: 90px 0;
}

.splash {
    margin-top: 6rem;
}

.splash h2 {
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.splash .short-text {
    text-align: right;
    font-family: 'Poppins';
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.splash .long-text {
    padding-right: 100px;
    padding-left: 50px;
}


.splash .bulb .bulb-image {
    background-image: url('/images/bobkonf_lightbulb.png');
    background-repeat: no-repeat;
    width: 193px;
    height: 292px;
    position: absolute;
    left: 0;
    bottom: -90px; 
}

.splash .bulb .container {
    padding-left: 0px;
    padding-bottom: 220px;
}

@media(min-width: 768px){
    .splash .bulb .container {
        padding-left: 240px;
        padding-bottom: 0
    }
}


.btn-success {
    background-color:  #d6214a;
    color: white!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 'Poppins';
    border: 0;
    padding: 8px 8px;
}

.btn-success:hover {
    background-color: #bd1038;
}

.btn-success:not(:disabled):not(.disabled):active {
    background-color: #bd1038;
    box-shadow: none;
    border: 0;
}
.btn-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


.sponsors {
    margin-top: 5rem;
}

.sponsors .row {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
}

.sponsors img {
    margin: 20px 10px;
    max-width: 80%;
}

.sponsors h2, .sponsors h3 {
    text-transform: uppercase;
}

.sponsors h3 {
    font-size: 1.3rem;
}

.splash .partners h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}


.footer {
    background-color: black;
    padding: 1rem 0;
    color: white;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 0.8rem;
    position: absolute;
    min-height: 3rem;
    bottom: 0;
    width: 100%;
}

.footer > .float-right {
    vertical-align: middle;
}

.footer .twitter-follow-button {
    margin-top: 0;
    margin-bottom: -5px;
}

.footer a {
    color: white;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 0.8rem;
}

.footer .social-img {
    width: 30px;
    height: 30px;
}

.footer .link {
    padding: 0 15px;
    border-left: 1px solid white;
}



/* Registration page */

.splash .pen {
    padding: 50px;
}


.splash .pen .pen-image {
    background-image: url('/images/bobkonf_pen.png');
    background-repeat: no-repeat;
    background-position: bottom 0px center 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 224px;
    height: 284px;
    bottom: -60px;
    left: 0;
}

.splash .pen .container {
    padding-left: 0px;
    padding-bottom: 250px;
    min-height: 200px;
}

@media(min-width: 768px){
    .splash .pen .container {
        padding-left: 280px;
        padding-bottom: 0px;

    }
}


.splash .support {
    padding: 50px;
}

.splash .support ol {
    margin-top: 30px;
    padding-left: 0
}

.splash .support li {
    padding: 10px 0
}

.splash .support .support-image {
    background-image: url('/images/bobkonf_questionmark.png');
    background-repeat: no-repeat;
    background-position: bottom 0px center 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 233px;
    height: 192px;
}

.splash .support .container {
    padding-left: 0px;
    padding-bottom: 200px;
}

@media(min-width: 768px){
    .splash .support .support-image {
        bottom: 30%;
    }
}

@media(min-width: 768px){
    .splash .support .container {
        padding-left: 320px;
        padding-bottom: 0px;
    }
}


.registration-table {
    padding: 0 0;
}
.registration-table table {
    margin-bottom: 2rem;
}

@media(min-width: 768px){
    .registration-table {
        padding: 0 160px;
        margin-top: 60px;
    }
}

.registration-table .btn-success {
    font-size: 1.2rem;
    padding: 15px;
}




/* Policies */

.policies h1 {
    font-weight: 400;
}

.policies h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 30px 0
}



/* commitee */

.committee .member {
    position: relative;
}

.committee .member .portrait  {
    float: left;
}

.committee .member .info  {
    font-size: 1.2rem;
    font-face: 'Poppins';
    text-transform: uppercase;
    font-weight: 700;
}

.committee .member .info a {
    font-size: 0.9rem;
    font-face: 'Poppins';
    text-transform: uppercase;
    font-weight: 700;
}

.committee .member .portrait img  {
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}




/* Location */



@media(min-width: 768px){
    .splash .support .support-image {
        bottom: 30%;
    }
}

@media(min-width: 768px){
    .splash .support .container {
        padding-left: 320px;
        padding-bottom: 0px;
    }
}


/* Sponsoring */



.splash .gear {
    padding: 50px;
}

.splash .gear .gear-image {
    background-image: url('/images/bobkonf_sponsors.png');
    background-repeat: no-repeat;
    background-position: bottom 0px center 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 152px;
    height: 152px;
    bottom: 60px;
    left: 50px;
}

.splash .gear .container {
    padding-left: 0px;
    padding-bottom: 250px;
}

.splash .gear ul {
    padding-left: 0px;
}

.splash .gear li {
    padding: 0.5rem 0px;
}

@media(min-width: 768px){
    .splash .gear .container {
        padding-left: 280px;
        padding-bottom: 0px;
    }
}


.content .front-page-col ul {
    padding-left: 0
}

.content .front-page-col li {
    padding: 0.3rem 0
}



/* Programm */

.program table th {
    padding: 20px 0 0 5px;
}

.program table tr {
    border-bottom: 1px solid #b9b9b9;
}

.program table h3 {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 1.2rem;
}

.program table .bcolor1 {
}

.program table .bcolor5 {
    background-color: #f1f1e5;
}

.program table .bcolor5 h4 {
    color: #67675c;
}

.program table h4 {
    text-transform: uppercase;
    color: #111;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    padding-top: 10px;
    display: block;
    text-align: center;
}

.program table h5 {
    text-transform: uppercase;
    color: #111;
    font-size: 1rem;
    padding-top: 10px;
}

.program table .talktitle {
    color: black;
    font-family: 'Poppins';
    font-weight: bold;
}

.program table td {
    padding: 20px 20px;
    vertical-align: top;
}

.program table .room-row {
    border-bottom: 3px double #b9b9b9;
}

.program table .room-row td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.program table .room-row h5 {
    color: #aaa;
}


.talk h3 {
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 1.2rem;
}

.talk h4 {
    text-transform: uppercase;
}


.content .intro {
    font-size: 1.3em;
}

.external {
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='11.626px' height='11.627px' viewBox='0 0 511.626 511.627' style='enable-background:new 0 0 511.626 511.627;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23d6214a' d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361 c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414 c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418 h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563 c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542 c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13 c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57 C397.709,293.209,395.519,292.354,392.857,292.354z'/%3E%3Cpath fill='%23d6214a' d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424 c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067 c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852 s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426 c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") no-repeat 100% 50%;
    padding-right: 16px;
}

.external-white {
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='9px' height='9px' viewBox='0 0 511.626 511.627' style='enable-background:new 0 0 511.626 511.627;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M392.857,292.354h-18.274c-2.669,0-4.859,0.855-6.563,2.573c-1.718,1.708-2.573,3.897-2.573,6.563v91.361 c0,12.563-4.47,23.315-13.415,32.262c-8.945,8.945-19.701,13.414-32.264,13.414H82.224c-12.562,0-23.317-4.469-32.264-13.414 c-8.945-8.946-13.417-19.698-13.417-32.262V155.31c0-12.562,4.471-23.313,13.417-32.259c8.947-8.947,19.702-13.418,32.264-13.418 h200.994c2.669,0,4.859-0.859,6.57-2.57c1.711-1.713,2.566-3.9,2.566-6.567V82.221c0-2.662-0.855-4.853-2.566-6.563 c-1.711-1.713-3.901-2.568-6.57-2.568H82.224c-22.648,0-42.016,8.042-58.102,24.125C8.042,113.297,0,132.665,0,155.313v237.542 c0,22.647,8.042,42.018,24.123,58.095c16.086,16.084,35.454,24.13,58.102,24.13h237.543c22.647,0,42.017-8.046,58.101-24.13 c16.085-16.077,24.127-35.447,24.127-58.095v-91.358c0-2.669-0.856-4.859-2.574-6.57 C397.709,293.209,395.519,292.354,392.857,292.354z'/%3E%3Cpath fill='%23fff' d='M506.199,41.971c-3.617-3.617-7.905-5.424-12.85-5.424H347.171c-4.948,0-9.233,1.807-12.847,5.424 c-3.617,3.615-5.428,7.898-5.428,12.847s1.811,9.233,5.428,12.85l50.247,50.248L198.424,304.067 c-1.906,1.903-2.856,4.093-2.856,6.563c0,2.479,0.953,4.668,2.856,6.571l32.548,32.544c1.903,1.903,4.093,2.852,6.567,2.852 s4.665-0.948,6.567-2.852l186.148-186.148l50.251,50.248c3.614,3.617,7.898,5.426,12.847,5.426s9.233-1.809,12.851-5.426 c3.617-3.616,5.424-7.898,5.424-12.847V54.818C511.626,49.866,509.813,45.586,506.199,41.971z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") no-repeat 100% 50%;
    padding-right: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link.external-white{
    padding-right: 14px;
    margin-right: 10px;
}
