---
layout: default
active: bob2022
title: BOB 2022
head: 2022
language: en
---

{% include head-2022.html %}

<div class="container content">
  <div class="splash">
    <div class="top"></div>
    <div class="content corona">
        <div class="container">
            <div class="corona-image" ></div>
            <h2>Online or Onsite</h2>
            <div class="row">
	      <div class="col-lg-4 short-text">
                    We are aware that holding BOB 2022 on-site may not
                    be possible.  At this point, we are keeping all
                    options open.
              </div>

                <div class="col-lg-8 long-text">
		  <p class="p4">
		    While we would like to hold BOB on-site in
		    Berlin, the safety of our participants will be the
		    primary deciding factor.  We will 
		    announce whether BOB will be online or onsite
		    by <b>January 17</b>.  More information
		    is <a href="onsite.html">here</a>; please fill out
		    <a href="https://survey.lamapoll.de/BOB-2022-in-person-virtual-survey/">our
		      survey</a>.
		  </p>
		  </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="row">

              <div class="col-md-4 col-sm-12 front-page-col pr-lg-5" > <h3> Info </h3>
		<p>We hope we'll be able to hold BOB 2022 in Berlin. If a safe onsite event is not possible, we'll
		make BOB a successful online event, like BOB 2021.
		</p>
		<p>If onsite, we'll do everything possible to guarantee a
		  safe environment. Details are <a href="onsite.html">here</a>.</p>
                    <a class="btn btn-success btn-block d-md-none
                    mb-5" href="onsite.html"> Onsite/Online info</a>
                </div>

              <div class="col-md-4 col-sm-12 front-page-col
			  pr-lg-5"> <h3> Program </h3>
		<p>The <a href="program.html">Preliminary Program</a>
		  is up now!</p>
		   <p>Our <a href="programmkomitee.html">committee</a>
	      consisting of experts from academia and industry has
		     assembled the <a href="program.html">program</a>. </p>
                </div>

                <div class="col-md-4 col-sm-12 front-page-col pr-lg-5" >
                    <h3> Location </h3>
                    <p>Lohmann & Birkner Health Care Consulting GmbH in Alt-Reinickendorf offers a professional,
                      atmospheric and wheelchair-accessible ambience. 
		      </p>
                    <a class="btn btn-success btn-block d-md-none mb-5" href="local.html"> How to find us </a>
                </div>
	    </div>
            <div class="row d-none d-md-flex">
                <!-- we show the buttons as a row for alignment for everything bigger sm  -->

                <div class="col-md-4 pr-lg-5" >
                    <a class="btn btn-success btn-block"
                    href="onsite.html">Onsite/Online Info</a>
                </div>

                <div class="col-md-4 pr-lg-5" >
                    <a class="btn btn-success btn-block" href="program.html">Program</a>
                </div>

                <div class="col-md-4 pr-lg-5" >
                    <a class="btn btn-success btn-block" href="local.html"> How to find us </a>
		</div>

        </div>
	</div>

        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
          <h3> News </h3>
	  <p>Ticket sales will start <b>January 17</b>.</p>
	    <p><a href="../dreyer.html">Derek Dreyer</a> will give the
	      keynote!</p>
        </div>
    </div>
</div>

<div class="splash">
    <div class="top"></div>
    <div class="content bulb">
        <div class="container">
            <div class="bulb-image" ></div>
            <h2> What happens when we use what's best for a change?</h2>
            <div class="row">
                <div class="col-lg-4 short-text">
                    Are you interested in <b><u>technologies beyond the mainstream</u></b> that are a pleasure to use and effective at getting the job done?
                </div>
                <div class="col-lg-8 long-text">
	                  <p class="p4">BOB is the forum for developers, architects and
	                      builders to explore and
	                      discover the best tools available today for building software.
	                      Our goal is for all participants to leave the conference
	                      with new ideas to improve development back at the ranch.
	                  </p>
	                  <p class="p4">We are committed to
	                      diversity: We aim at exploring a wide
	                      range of tools in a welcoming and
	                      friendly crowd of diverse people.  To
	                      that end, a number of support options
	                      for participants from groups
	                      under-represented in tech are available.
	                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"> </div>
</div>

<div class="container sponsors">
    {% include partner2022.html %}
</div>


<div class="splash">
    <div class="top"></div>
    <div class="content partners">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 pb-sm-5 pb-md-0">
                    <h2> Organized by </h2>
	                  <a href="http://funktionale-programmierung.de/" target="_blank" class="pr-5"><img src="/images/fp-logo.png" alt="FP"></a>
	                  <a href="http://www.active-group.de" target="_blank" class="pr-5"><img src="/images/active-group-logo.png" alt="Active Group GmbH"></a>
                </div>
                <div class="col-md-6 col-sm-12 pb-sm-5 pb-md-0">
                    <!--<h2>Sponsors</h2>
                    <a href="https://wire.com/" target="_blank" class="pr-5"><img src="/images/wire-logo.svg" alt="Wire" width="350"></a> -->
		</div>

                <div class="col-md-3 col-sm-12 pt-sm-5 pt-md-0">
                    <h2> Partners </h2>
                    <a href="http://clojured.de/" target="_blank" class="pr-5"><img src="/images/clojured.png" width="150" alt=":clojureD"/></a>
		    <a href="http://racketfest.com/" target="_blank" class="pr-5"><img src="/images/racketfest-logo.png" width="150" alt="Racketfest"/></a>
                    <a href="http://www.lambdadays.org/" target="_blank" class="pr-5"><img src="/images/lambdadays2022.png" alt="Lambda Days" width="150"/></a>
                </div>

            </div>
        </div>
    </div>
</div>
