---
layout: default
active: bob2021
title: BOB 2021
head: 2021
language: de
---

{% include head-2021.html %}

<div class="container content">
  <div class="splash">
    <div class="top"></div>
    <div class="content corona">
        <div class="container">
            <div class="corona-image" ></div>
            <h2>2021 Online</h2>
            <div class="row">
	      <div class="col-lg-4 short-text">
		Die BOB 2021 wird aus den
                 naheliegenden Gründen online stattfinden.
              </div>

                <div class="col-lg-8 long-text">
		  <p>
		  Wir werden auch in diesem Format spannende
                    Interaktionen ermöglichen, die über Vortragvideos
                    und Chat-Kanäle hinausgehen. Wir möchte die BOB
                    auch 2021 zu einem Live-Event mit sozialer
                    Interaktion machen.
		  </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="row">

                <div class="col-md-4 col-sm-12 front-page-col pr-lg-5"
                > <h3> Informationen </h3> <p>
                    Die Registrierung ist <a href="registration.html">eröffnet</a>.</p>
                    <a class="btn btn-success btn-block d-md-none
                    mb-5" href="registration.html">Registrierung </a>
                </div>

                <div class="col-md-4 col-sm-12 front-page-col pr-lg-5"> <h3> Programm </h3> <p>
                    Unser <a href="programmkomitee.html">Programmkomitee</a>
		  mit Experten aus Industrie und Forschung hat das
                    <a href="program.html">Programm</a> zusammengestellt.</p>
                    <a class="btn btn-success btn-block d-md-none mb-5" href="program.html"> Programm </a>
                </div>

                <div class="col-md-4 col-sm-12 front-page-col pr-lg-5" >
                    <h3> Location </h3>
                    <p>Online-Konferenz: die Teilnahme ist von überall
                    dort aus möglich, wo eine stabile,
                    streaminggeeignete Internetverbindung
                    besteht. Weitere Informationen zur Plattform
                    etc. folgen! </p>
                    <a class="btn btn-success btn-block d-md-none mb-5" href="local.html"> Zur Anfahrt </a>
                </div>
            </div>
            <div class="row d-none d-md-flex">
                <!-- we show the buttons as a row for alignment for everything bigger sm  -->

                <div class="col-md-4 pr-lg-5" >
                    <a class="btn btn-success btn-block" href="registration.html">Registrierung </a>
                </div>

                <div class="col-md-4 pr-lg-5" >
                    <a class="btn btn-success btn-block" href="program.html"> Programm </a>
                </div>

            </div>
        </div>

        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
            <h3> Aktuelles </h3>
            <p>
	     <a href="/2021/gibbons.html">Jeremy Gibbons</a> wird die  Keynote halten.
            </p>
        </div>
    </div>
</div>

<div class="splash">
    <div class="top"></div>
    <div class="content bulb">
        <div class="container">
            <div class="bulb-image" ></div>
            <h2> Was passiert, wenn wir einfach mal das Beste nehmen? </h2>
            <div class="row">
                <div class="col-lg-4 short-text">
                    Sind Sie an <b><u>Technologien jenseits des Mainstream</u></b> interessiert? Die eine Freude zu benutzen
                    sind und Sie effektiv bei der Arbeit unterstützen?
                </div>
                <div class="col-lg-8 long-text">
                    Entwicklerinnen, Architekten und Macherinnen treffen sich, um gemeinsam die besten Werkzeuge aufzuspüren, die es heute für die Entwicklung moderner Software gibt. Jeder Teilnehmer soll viele neue Erfahrungen und Verbesserungen für sein eigenes Entwicklungsumfeld mitnehmen.
                    Wir sind der Vielfalt verpflichtet: Wir wollen eine Vielzahl von Werkzeugen in freundlicher und offener Gesellschaft erforschen. Eine Reihe von Förderungsmöglichkeiten für Teilnehmerinnen und Teilnehmer aus sonst unterrepräsentierten Gruppen stehen zur Verfügung.
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"> </div>
</div>

<div class="container sponsors">
    {% include partner2021.html %}
</div>


<div class="splash">
    <div class="top"></div>
    <div class="content partners">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pb-sm-5 pb-md-0">
                    <h2> Organisiert von </h2>
	                  <a href="http://funktionale-programmierung.de/" target="_blank" class="pr-5"><img src="/images/fp-logo.png" alt="FP"></a>
	                  <a href="http://www.active-group.de" target="_blank" class="pr-5"><img src="/images/active-group-logo.png" alt="Active Group GmbH"></a>
	                 <!-- <a href="http://www.checkpad.de/" target="_blank" class="pr-5"><img src="/images/factis-research-logo.png" alt="factis-research"></a>
-->
                </div>

                <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0">
                    <h2> Partner </h2>
                    <a href="http://racketfest.com/" target="_blank" class="pr-5"><img src="/images/racketfest-logo.png" alt="Racketfest"></a>
                    <a href="http://clojured.de/" target="_blank" class="pr-5"><img src="/images/clojured.png" alt=":clojureD"></a>
                    <a href="http://www.lambdadays.org/" target="_blank" class="pr-5"><img src="/images/LOGO-LD-2021-03.png" height="150" alt="Lambda Days"></a>
                </div>

            </div>
        </div>
    </div>
</div>
