---
layout: default
active: bob2023
title: BOB 2023
head: 2023
language: en
---

{% include head-2023.html %}


<div class="container content">
  <div class="splash">
    <div class="top"></div>
    <div class="content corona">
        <div class="container">
           <h2>That's a wrap for BOB 2023!</h2>
            <div class="row">
	      <div class="col-lg-4 short-text">
                  A big thank you to our speakers, participants, and helpers for making BOB 2023 a fun and successful event.
		   </div>
                <div class="col-lg-8 long-text">
		  <p class="p4" align="justify"> We'll be uploading slides and videos from the talks soon -- watch this space, our twitter <a href="https://twitter.com/bobkonf">@BOBkonf</a> and our mastodon account <a href="https://discuss.systems/@bobkonf">@bobkonf@discuss.systems</a> for news.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container content">
            <div class="row">

              <div class="col-md-6 col-sm-12 front-page-col pr-lg-5"
		   > <h3>Program</h3>
		<p>The <a href="program.html">program</a> is
		  up!</p>

		<p> <a href="/2023/startsev.html">Yulia
		    Startsev</a> gave the keynote.</p>

		<p>Our <a href="programmkomitee.html">commitee</a>
	      consisting of experts from academia and industry has
	      assembled the program.</p>
                    <a class="btn btn-success btn-block d-md-none mb-5" href="program.html">Program </a>
                </div>

                
                <div class="col-md-6 col-sm-12 front-page-col pr-lg-5" >
                    <h3> Location </h3>
                    <p>We held BOB 2023 on location at Lohmann & Birkner Health Care Consulting GmbH in Alt-Reinickendorf in Berlin. 
		      </p>
                    <a class="btn btn-success btn-block d-md-none mb-5" href="/2023/gallery"> Pictures from BOB 2023</a>
                </div>
	    </div>
            <div class="row d-none d-md-flex">
                <!-- we show the buttons as a row for alignment for everything bigger sm  -->

                <div class="col-md-6 pr-lg-5" >
                    <a class="btn btn-success btn-block"
                    href="program.html">Program</a>
                </div>

               
                <div class="col-md-6 pr-lg-5" >
                    <a class="btn btn-success btn-block" href="/2023/gallery">Pictures from BOB 2023 </a>
                </div>

            </div>
</div>

<div class="splash">
    <div class="top"></div>
    <div class="content bulb">
        <div class="container">
            <div class="bulb-image" ></div>
            <h2> What happens when we use what's best for a change?</h2>
            <div class="row">
                <div class="col-lg-4 short-text">
                    Are you interested in <b><u>technologies beyond the mainstream</u></b> that are a pleasure to use and effective at getting the job done?
                </div>
                <div class="col-lg-8 long-text">
	                  <p class="p4">BOB is the forum for developers, architects and
	                      builders to explore and
	                      discover the best tools available today for building software.
	                      Our goal is for all participants to leave the conference
	                      with new ideas to improve development back at the ranch.
	                  </p>
	                  <p class="p4">We are committed to
	                      diversity: We aim at exploring a wide
	                      range of tools in a welcoming and
	                      friendly crowd of diverse people.  To
	                      that end, a number of support options
	                      for participants from groups
	                      under-represented in tech are available.
	                  </p>
                </div>
            </div>
        </div>
    </div>
  <div> </div>
</div>

<div class="splash">
  <div class="top"></div>
  <div class="content corona">
        <div class="container">
            <div class="corona-image" ></div>
            <h2>BOB 2023 and COVID</h2>
            <div class="row">
	      <div class="col-lg-4 short-text">
                  BOB 2023 will take place on site in Berlin.
		   </div>
                <div class="col-lg-8 long-text">
		  <p class="p4" align="justify"> Germany is once again nearing a peak (hopefully the last) of COVID
infections. Influenza, RSV, and the common cold are also circulating,
and we'd like to avoid having BOB be the source of excess sick days and health
complications, especially for folks with increased health risks
from such infections.</p>

<p align="justify">We will therefore ask you to wear masks when attending a talk or tutorial, as we'll
all be in close vicinity for longer stretches of time.   We'll also ask
you to wear masks in the restrooms. Regular medical masks will be sufficient.
We'll have those and special BOB swag FFP2 masks available for you on-site.</p>
<p align="justify">Masking will not be obligatory in the other common spaces at the
conference, however, we would ask you to mask whenever possible out of
respect for those who need to avoid infection.  Weather permitting,
we'll also have outdoor space available for the breaks.</p>

<p align="justify">If you have a cough, are sneezing, have a runny nose or sore throat or
similar symptoms of a respiratory tract infection, we ask that you wear
a mask indoors at the conference.  We also recommend you take a rapid 
antigen test on the day of the conference -- we'll make them available
on-site.</p>

<p align="justify">We realize this is a lot to ask, especially as many other events
have dropped restrictions -- albeit with predictable consequences that we'd
like to avoid.  We'd particularly ask you to show respect and compassion
for the folks around you who really need to avoid getting sick -- it may
be the person next to you.</p>
<p align="justify">Thank you for understanding.</p>
                </div>
            </div>
        </div class="bottom">
    </div>
</div>

<div class="container sponsors">
    {% include partner2023.html %}
</div>

<div class="splash">
    <div class="top"></div>
    <div class="content partners">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pb-sm-5 pb-md-0">
                    <h2> Organized by </h2>
	                  <a href="http://funktionale-programmierung.de/" target="_blank" class="pr-5"><img src="/images/fp-logo.png" alt="FP"></a>
	                  <a href="http://www.active-group.de" target="_blank" class="pr-5"><img src="/images/active-group-logo.png" alt="Active Group GmbH"></a>
	                 
                </div>

                <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0">
                    <h2> Partners </h2>
                    <a href="http://clojured.de/" target="_blank" class="pr-5"><img src="/images/clojured.png" alt=":clojureD"></a>
                    <a href="http://www.lambdadays.org/" target="_blank" class="pr-5"><img src="/images/lambda-days-logo.png" alt="Lambda Days"></a>
                </div>

            </div>
        </div>
    </div>
</div>
