   	
   	
   	<!--  BOB Footer -->
		<div class="spacer"></div>
		<div class="footer">
			<div class="foot-wrapper">
	{% if page.language == "de" or page.language == null %}
				<div class="align-left">
					<p><b>Folge BOB</b>
					<br />
					<br/><a href="https://twitter.com/bobkonf" target="_blank">
					<img src="/images/twitter.png" alt="Das Logo von Twitter">Twitter</a>
					<br /><a href="http://lanyrd.com/2017/bob2017/" style="margin-left:35px;" target="_blank">Lanyrd</a></p>
				</div>
				<div class="align-rb">
					<a href="/de/policies.html">Richtlinien</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <a href="/impressum.html">Impressum</a>
				</div>
	{% else %}
		<div class="align-left">
					<p><b>Follow BOB</b>
					<br />
					<br/><a href="https://twitter.com/bobkonf" target="_blank">
					<img src="/images/twitter.png" alt="Das Logo von Twitter">Twitter</a>
					<br /><a href="http://lanyrd.com/2017/bob2017/" style="margin-left:35px;" target="_blank">Lanyrd</a></p>
				</div>
				<div class="align-rb">
					<a href="/en/policies.html">Policies</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <a href="/en/impressum.html">Imprint</a>
				</div>

	{% endif %}			
		
			</div>
		 </div>