<!--  BOB Footer -->
<div class="footer">
    <div class="container">
        {% if page.language == "de" or page.language == null %}
        <div class="float-left">
            <a class="twitter-follow-button pr-3" data-size="small" data-lang="de" href="https://twitter.com/BOBKonf">Folge @BOBKonf</a>
        </div>
        <div class="float-left ml-3">
            <a href="https://eventil.com/events/bob-2019"  target="_blank" class="link">Eventil</a>
            <a href="https://colloq.io/events/bob/2019/berlin/1" target="_blank" class="link">colloq.io</a>
        </div>
        <div class="float-right ml-3">
            <a class="link" href="/impressum.html">Impressum</a>
            <a class="link" href="/datenschutz.html">Datenschutz</a>
        </div>
        {% else %}

        <div class="float-left">
            <a class="twitter-follow-button pr-3" data-size="small" data-lang="de" href="https://twitter.com/BOBKonf">Folge @BOBKonf</a>
        </div>
        <div class="float-left ml-3">
            <a href="https://eventil.com/events/bob-2019"  target="_blank" class="link">Eventil</a>
            <a href="https://colloq.io/events/bob/2019/berlin/1" target="_blank" class="link">colloq.io</a>
        </div>
        <div class="float-right ml-3">
            <a class="link" href="/impressum.html">Imprint</a>
            <a class="link" href="/datenschutz.html">Privacy</a>
        </div>
            {% endif %}	
    </div>
</div>
