<div class="header-wrapper-2019-summer">
    <div class="container">

    <div class="twitter">
	      <a class="twitter-follow-button" href="https://twitter.com/BOBKonf">
	          Follow @BOBKonf</a>
    </div>
    <div class="clearfix"></div>
    <div class="counter">
        <h3> August 21, Berlin </h3>
        <div class="counter-elements">
            <div class="counter-elem">
                <div class="value" id="counter2019-summer-elem-days">  </div>
                <div class="unit"> Days </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2019-summer-elem-hours"> </div>
                <div class="unit"> Hours </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2019-summer-elem-minutes">  </div>
+                <div class="unit"> Minutes </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2019-summer-elem-seconds">  </div>
                <div class="unit"> Seconds </div>
            </div>
        </div>
    </div>
    </div>
</div>
