<div class="header-wrapper header-background-2027">
  <div class="container">
    <div class="clearfix"></div>
    <div class="counter">
      <h3>{% if page.language == "en" %} 26 February 2027, Berlin{% else %} 26. Februar 2027 in Berlin{% endif %}</h3>
      <div class="counter-elements">
        <div class="counter-elem">
          <div class="value" id="counter2027-elem-days">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Days {% else %} Tage {% endif %}</div>
        </div>
        <div class="counter-elem">
          <div class="value" id="counter2027-elem-hours">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Hours {% else %} Stunden {% endif %}</div>
        </div>
        <div class="counter-elem">
          <div class="value" id="counter2027-elem-minutes">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Minutes {% else %} Minuten {% endif %}</div>
        </div>
        <div class="counter-elem">
          <div class="value" id="counter2027-elem-seconds">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Seconds {% else %} Sekunden {% endif %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
