
{% if page.language == "de" or page.language == null %}		
<!-- GERMAN -->
  <div class="header-wrapper header-background-2026">
    <div class="container" style="display: flex; justify-content: space-between; align-items: center; height: 2.5rem">
      <a href="http://www.active-group.de" target="_blank" class="organizer-link" style="font-weight: initial; margin-left: 2px;">
        <span class="organizer-prefix">mit</span>
        <span style="margin: 0 0.5rem;color: #d6214a;font-size: 1.5em;line-height: 1;"
>❤</span>
        <span class="organizer-prefix">von der</span>
        <img src="/images/active-group-logo.png" alt="Active Group" class="organizer-logo">
      </a>

      <div class="language">
        Language
        <a href="/2026/de" class="selected">Deutsch</a>
        <a href="/2026/en">English</a>
      </div>
    </div>

    <div class="container">

      <div class="clearfix"></div>
      <div class="counter">
        <h3> 13. März 2026 in Berlin</h3>
        <div class="counter-elements">
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-days">&nbsp;</div>
                <div class="unit"> Tage </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-hours">&nbsp;</div>
                <div class="unit"> Stunden </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-minutes">&nbsp;</div>
                <div class="unit"> Minuten </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-seconds">&nbsp;</div>
                <div class="unit"> Sekunden </div>
            </div>
        </div>
    </div>

    </div>
</div>


{% else %}
<!-- ENGLISH -->
<div class="header-wrapper header-background-2026">
    <div class="container" style="display: flex; justify-content: space-between; align-items: center; height: 2.5rem;">
      <a href="http://www.active-group.de" target="_blank" class="organizer-link" style="font-weight: initial; margin-left: 2px;">
        <span class="organizer-prefix">with</span>
        <span style="margin: 0 0.5rem;color: #d6214a;font-size: 1.5em;line-height: 1;"
>❤</span>
        <span class="organizer-prefix">by</span>
        <img src="/images/active-group-logo.png" alt="Active Group" class="organizer-logo">
      </a>
      <div class="language">
        Language
        <a href="/2026/de">Deutsch</a>
        <a href="/2026/en" class="selected">English</a>
      </div>
    </div>

    <div class="container">

      <div class="clearfix"></div>
      <div class="counter">
        <h3> 13 March 2026, Berlin</h3>
        <div class="counter-elements">
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-days">  </div>
                <div class="unit"> Days </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-hours"> </div>
                <div class="unit"> Hours </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-minutes">  </div>
                <div class="unit"> Minutes </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2026-elem-seconds">  </div>
                <div class="unit"> Seconds </div>
            </div>
        </div>
    </div>
    </div>
</div>



{% endif %}
