{% assign de_url = page.url | replace: "/2026/en/", "/2026/de/" %}
{% assign en_url = page.url | replace: "/2026/de/", "/2026/en/" %}

<div class="container head-bar">
  <a href="http://www.active-group.de" target="_blank" class="organizer-link">
    <span class="organizer-prefix">{% if page.language == "en" %}with{% else %}mit{% endif %}</span>
    <span class="organizer-heart">❤</span>
    <span class="organizer-prefix">{% if page.language == "en" %}by{% else %}von der{% endif %}</span>
    <img src="/images/active-group-logo.png" alt="Active Group" class="organizer-logo">
  </a>
  <div class="language">
    <span class="language-label">Language</span>
    <a href="{{ de_url }}" class="{% unless page.language == "en" %}selected{% endunless %}">Deutsch</a>
    <a href="{{ en_url }}" class="{% if page.language == "en" %}selected{% endif %}">English</a>
  </div>
</div>
