
{% if page.language == "de" or page.language == null %}		
<!-- GERMAN -->
<div class="header-wrapper header-background-2024">
    <div class="container">

    <div class="language">
        Language
        <a href="/2024/de" class="selected">Deutsch</a>
        <a href="/2024/en">English</a>
    </div>
   

    <div class="clearfix"></div>
    <div class="counter">
        <h3> 15. März in Berlin</h3>
        <div class="counter-elements">
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-days">&nbsp;</div>
                <div class="unit"> Tage </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-hours">&nbsp;</div>
                <div class="unit"> Stunden </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-minutes">&nbsp;</div>
                <div class="unit"> Minuten </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-seconds">&nbsp;</div>
                <div class="unit"> Sekunden </div>
            </div>
        </div>
    </div>

    </div>
</div>


{% else %}
<!-- ENGLISH -->
<div class="header-wrapper header-background-2024">
    <div class="container">

    <div class="language">
        Language
        <a href="/2024/de">Deutsch</a>
        <a href="/2024/en" class="selected">English</a>
    </div>
    <div class="clearfix"></div>
    <div class="counter">
        <h3> 15 March, Berlin</h3>
        <div class="counter-elements">
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-days">  </div>
                <div class="unit"> Days </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-hours"> </div>
                <div class="unit"> Hours </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-minutes">  </div>
                <div class="unit"> Minutes </div>
            </div>
            <div class="counter-elem">
                <div class="value" id="counter2024-elem-seconds">  </div>
                <div class="unit"> Seconds </div>
            </div>
        </div>
    </div>
    </div>
</div>



{% endif %}
