<div class="header-wrapper header-background-2026">
  <div class="container">
    <div class="clearfix"></div>
    <div class="counter">
      <h3>{% if page.language == "en" %} 13 March 2026, Berlin{% else %} 13. März 2026 in Berlin{% endif %}</h3>
      <div class="counter-elements">
        <div class="counter-elem">
          <div class="value" id="counter2026-elem-days">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Days {% else %} Tage {% endif %}</div>
        </div>
        <div class="counter-elem">
          <div class="value" id="counter2026-elem-hours">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Hours {% else %} Stunden {% endif %}</div>
        </div>
        <div class="counter-elem">
          <div class="value" id="counter2026-elem-minutes">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Minutes {% else %} Minuten {% endif %}</div>
        </div>
        <div class="counter-elem">
          <div class="value" id="counter2026-elem-seconds">&nbsp;</div>
          <div class="unit">{% if page.language == "en" %} Seconds {% else %} Sekunden {% endif %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
