{% if page.language == "de" or page.language == null %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-static-top">
    <div class="container" >
        <div class="row w-100" >
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbar-collapse-area" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-area">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item"><a class="nav-link bob" href="/de/">
                        <img alt="" src="/images/bob_navigation.png"/>

                    </a></li>

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/registration.html">Registrierung</a></li>


                    {% if page.active == "cfp" %}
                    <li class="nav-item active"><a class="nav-link" href="/2019-summer/cfc.html">Call</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/2019-summer/cfc.html">Call</a></li>
                    {% endif %}

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/policies.html">Richtlinien</a></li>

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/programmkomitee.html"">Programmkomitee</a></li>

                    <li class="nav-item"><a class="nav-link" href="https://www.scandichotels.com/hotels/germany/berlin/scandic-berlin-potsdamer-platz" target="_blank">Veranstaltungsort</a></li>

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/sponsoring.html">Sponsoring</a></li>


                </ul>
                <ul class="navbar-nav menu-right">
                    <li class="nav-item"><a class="nav-link" href="/2019/de/">Winter 2019</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle"
                           data-toggle="dropdown">Rückblick<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/2019/de/">2019</a>
                            <a class="dropdown-item" href="/2018/de/">2018</a>
                            <a class="dropdown-item" href="/2017/de/">2017</a>
                            <a class="dropdown-item" href="/2016/de/">2016</a>
                            <a class="dropdown-item" href="/2015/de/">2015</a>
                        </div>
                    </li>

                </ul>

                </span>
            </div>
        </div>
    </div>
</nav>

{% else %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-static-top">
    <div class="container" >
        <div class="row w-100" >
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbar-collapse-area" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-area">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item"><a class="nav-link bob" href="/en/">
                        <img alt="" src="/images/bob_navigation.png"/>
                    </a></li>

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/registration.html">Registration</a></li>

                    {% if page.active == "cfp" %}
                    <li class="nav-item active"><a class="nav-link" href="/2019-summer/cfc.html">Call</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/2019-summer/cfc.html">Call</a></li>
                    {% endif %}

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/policies.html">Policies</a></li>

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/programmkomitee.html"">Program committee</a></li>

                    <li class="nav-item"><a class="nav-link" href="https://www.scandichotels.com/hotels/germany/berlin/scandic-berlin-potsdamer-platz" target="_blank">Location</a></li>

                    <li class="nav-item"><a class="nav-link" href="/2019-summer/sponsoring.html">Sponsorship</a></li>


                </ul>
                <ul class="navbar-nav menu-right">
                    <li class="nav-item"><a class="nav-link pr-2" href="/2019/en/">Winter 2019</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle"
                           data-toggle="dropdown">Archive<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/2019/de/">2019</a>
                            <a class="dropdown-item" href="/2018/de/">2018</a>
                            <a class="dropdown-item" href="/2017/de/">2017</a>
                            <a class="dropdown-item" href="/2016/de/">2016</a>
                            <a class="dropdown-item" href="/2015/de/">2015</a>
                        </div>
                    </li>

                </ul>

                </span>
            </div>
        </div>
    </div>
</nav>

{% endif %}
