    <div class="bob"><!-- Bob Container -->
     	<!-- BOB Head -->
		<div class="row head">
  	    {% include head_old.html %}			
		</div>
	</div>
    

      <!-- Sticky navbar -->
      <div class="nav-wrapper" id="static-navi">
       	<div class="navbar-container" id="sticky-navbar">
		    <div class="navbar navbar-default" role="navigation">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
          			</button>
		        </div>
        		<div class="navbar-collapse collapse bob-collapse">
	    			{% include navbar_old.html %}
        		</div><!--/.nav-collapse -->
      		</div>
      	</div>
		</div>
      
      <div class="wrapper">
        {{ content }}
      </div>
      
      {% include footer.html %}
