{% if page.language == "de" or page.language == null %}		

 <h2> Sponsoren </h2>
      
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-5 col-sm-12">
              <p><a href="http://www.well-typed.com" target="_blank" class="mr-md-2"><img src="/images/wtnlogotext-paths.svg" height="115" alt="Well-Typed LLD"></a></p>

</div>

{% else %}

 <h2> Sponsors </h2>
      <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-5 col-sm-12">
        <p><a href="http://www.well-typed.com" target="_blank" class="mr-md-2"><img src="/images/wtnlogotext-paths.svg" height="115" alt="Well-Typed LLD"></a></p>
    </div>

</div>


{% endif %}
