{% if page.language == "de" or page.language == null %}		
	<h4>Organisiert von</h4>
{% else %}
	<h4>Organized by</h4>
{% endif %}
<p>
	<a href="http://funktionale-programmierung.de/" target="_blank"><img src="/images/fp-logo.png" alt="FP"></a><br>
	<a href="http://www.active-group.de" target="_blank"><img src="/images/active-group-logo.png" alt="Active Group GmbH"></a><br>
	<a href="http://www.factisresearch.com/" target="_blank"><img src="/images/factis-research-logo.png" alt="factis-research"></a><br>
</p>
<h4>Partner</h4>
<a href="http://clojured.de/"
   target="_blank"><img src="/images/clojured.png" alt="Clojured"></a>
<h4>Gold-Sponsor</h4>
<a href="http://sap.com/"
   target="_blank"><img src="/images/sap-logo.png" alt="SAP"></a>
