{% if page.language == "de" or page.language == null %}		

 <h2> Sponsoren </h2>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Silber</h3>
  </div>
   <div class="col-md-10 col-sm-12">
    <a href="www.isaqb.org"
       target="_blank"
       class="mr-md-2">
      <img style="max-height: 105px;"
           src="/images/2026/isaqb2026.png"
           alt="iSAQB International Software Architecture Qualification Board">
    </a>    
   </div>

    <div class="col-md-10 col-sm-12">
    <a href="https://www.entwickler.de"
       target="_blank">
      <img src="/images/2025/Ede_Akademie_logo_Gruen_GT_1505.png"
           height="105"
           alt="Entwickler.de Akademie">
         </a>
  </div>

   
</div>



<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Bronze</h3>
  </div>
  <div>
    <a href="https://www.well-typed.com" target="_blank"
       class="mr-md-2">
      <img src="/images/2026/wtnlogotext-paths.svg"
           height="70"
           alt="Well-Typed LLD"></a>
  </div>
</div> 

{% else %}

<h2> Sponsors </h2>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Silver</h3>
  </div>
   <div class="col-md-10 col-sm-12">
    <a href="https://isaqb.org/"
       target="_blank"
       class="mr-md-2">
      <img style="max-height: 105px;"
           src="/images/2026/isaqb2026.png"
           alt="iSAQB International Software Architecture Qualification Board">
    </a>
   </div>
  <div class="col-md-10 col-sm-12">
    <a href="https://www.entwickler.de"
       target="_blank">
      <img src="/images/2025/Ede_Akademie_logo_Gruen_GT_1505.png"
           height="165"
           alt="Entwickler.de Akademie">
         </a>
  </div>
   
</div>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Bronze</h3>
  </div>
  <div>
    <a href="https://www.well-typed.com" target="_blank"
       class="mr-md-2">
      <img src="/images/2026/wtnlogotext-paths.svg"
           height="70"
           alt="Well-Typed LLD"></a>
  </div>
</div> 

{% endif %}
