{% if page.language == "de" or page.language == null %}		
<!-- <h2> Sponsoren </h2>
 <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Platin</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://platform.sh/regions/germany/" target="_blank" class="mr-md-2"><img src="/images/Platformsh_logo_black.svg" height="250" alt="platform.sh"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://frobese.de/" target="_blank" class="mr-md-2"><img src="/images/frobese-logo.jpeg" height="150" alt="frobese GmbH Informatikservices"></a>
	<a href="http://www.wertgarantie.de/" target="_blank" class="mr-md-2"><img src="/images/wertgarantie.jpg" height="150" alt="Wertgarantie"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
      <a href="https://www.gfu.net" target="_blank"><img src="/images/gfu-logo.png" height="60" alt="GFU Cyrus AG"></a>
      <a href="https://www.mayflower.de" target="_blank"><img src="/images/mayflower_logo.png" height="60" alt="Mayflower"></a></br>
      <a href="https://www.wire.com" target="_blank"><img src="/images/wire-wordmark.svg" height="50" alt="Wire"></a>
      <a href="https://www.tngtech.com" target="_blank"><img src="/images/tng-logox2-2.png" height="50" alt="TNG Technology Consulting"></a>
    </div>
</div>
-->

{% else %}

<!--
<h2> Sponsors </h2>
 <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Platinum</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://platform.sh/" target="_blank" class="mr-md-2"><img src="/images/Platformsh_logo_black.svg" height="250" alt="platform.sh"></a>
    </div>
</div>
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://frobese.de/" target="_blank" class="mr-md-2"><img src="/images/frobese-logo.jpeg" height="150" alt="frobese GmbH Informatikservices"></a>
	<a href="http://www.wertgarantie.de/" target="_blank" class="mr-md-2"><img src="/images/wertgarantie.jpg" height="150" alt="Wertgarantie"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
      <a href="https://www.gfu.net" target="_blank"><img src="/images/gfu-logo.png" height="60" alt="GFU Cyrus AG"></a>
      <a href="https://www.mayflower.de" target="_blank"><img src="/images/mayflower_logo.png" height="60" alt="Mayflower GmbH"></a><br>
      <a href="https://www.wire.com" target="_blank"><img src="/images/wire-wordmark.svg" height="50" alt="Wire"></a>
 <a href="https://www.tngtech.com" target="_blank"><img src="/images/tng-logox2-2.png" height="50" alt="TNG Technology Consulting"></a>
    </div>
</div>
-->
{% endif %}
