{% if page.language == "de" or page.language == null %}		
<h2> Sponsoren </h2>
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://blockstack.org/" target="_blank" class="mr-md-5"><img src="/images/blockstack-logo.png" with="675" alt="Blockstack"></a>
        <a href="https://here.com" target="_blank" class="mr-md-5"><img src="/images/here-com-logo.jpg" height="220" alt="here.com"></a>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-12">
        <h3>Silber</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://www.innoq.com" target="_blank" class="mr-md-5"><img src="/images/innoq.png" height="60" alt="INNOQ"></a>
        <a href="https://wunder.dog/" target="_blank"><img src="/images/wunderdog.png" height="170" alt="wunderdog"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://www.exoscale.ch/" target="_blank" class="mr-md-2"><img src="/images/exoscale.png" alt="exoscale"></a>
        <a href="https://frobese.de/" target="_blank" class="mr-md-2"><img src="/images/frobese-logo.jpeg" height="70" alt="frobese"></a>
        <a href="https://inoio.de/" target="_blank" class="mr-md-2"><img src="/images/inoio.jpg" height="32" alt="inoio"></a>
        <a href="https://www.kommitment.works" target="_blank" class="mr-md-2"><img src="/images/kommitment.png" height="60" style="background-color:gray;" alt="Kommitment"></a>
        <a href="https://www.tngtech.com" target="_blank"><img src="/images/tng-logo.gif" height="32" alt="TNG"></a>
    </div>
</div>


{% else %}

<h2> Sponsors </h2>
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://blockstack.org" target="_blank" class="mr-md-5"><img src="/images/blockstack-logo.png" width="675" alt="Blockstack"></a>
        <a href="https://here.com" target="_blank" class="mr-md-5"><img src="/images/here-com-logo.jpg" height="220" alt="here.com"></a>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-12">

        <h3> Silver</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://www.innoq.com" target="_blank" class="mr-md-5"><img src="/images/innoq.png" height="60" alt="INNOQ"></a>
        <a href="https://wunder.dog/" target="_blank"><img src="/images/wunderdog.png" height="170" alt="wunderdog"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://www.exoscale.ch/" target="_blank" class="mr-md-2"><img src="/images/exoscale.png" alt="exoscale"></a>
        <a href="https://frobese.de/" target="_blank" class="mr-md-2"><img src="/images/frobese-logo.jpeg" height="70" alt="frobese"></a>
        <a href="https://inoio.de/" target="_blank" class="mr-md-2"><img src="/images/inoio.jpg" height="32" alt="inoio"></a>
        <a href="https://www.kommitment.works" target="_blank" class="mr-md-2"><img src="/images/kommitment.png" height="60" style="background-color:gray;" alt="Kommitment"></a>
        <a href="https://www.tngtech.com" target="_blank"><img src="/images/tng-logo.gif" height="32" alt="TNG"></a>
    </div>
</div>

{% endif %}

