{% if page.language == "de" or page.language == null %}		

<h2>Sponsoren</h2>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Gold</h3>
  </div>

  <div class="col-md-10 col-sm-12">
    <a href="https://innoq.de/"
       target="_blank"
       class="mr-md-2">
      <img style="max-height: 120px;"
           src="/images/2025/innoq2025.png"
           alt="innoQ Deutschland GmbH">
    </a>
  </div>
</div>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Silber</h3>
  </div>

  <div class="col-md-10 col-sm-12">
    <a href="https://www.entwickler.de"
       target="_blank">
      <img src="/images/2025/Ede_Akademie_logo_Gruen_GT_1505.png"
           height="105"
           alt="Entwickler.de Akademie">
         </a>
  </div>
</div> 



<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Bronze</h3>
  </div>

  <div class="col-md-10 col-sm-12">
    <a href="https://www.tngtech.com"
       target="_blank">
      <img src="/images/2025/TNG_Logo_mitSlogan.png"
           height="70"
           alt="TNG Technology Consulting">

       <a href="https://www.well-typed.com" target="_blank"
	     class="mr-md-2">
	   <img src="/images/wtnlogotext-paths.svg"
		height="70"
		alt="Well-Typed LLD"></a>
    </a>
  </div>
</div> 

{% else %}

<h2>Sponsors</h2>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Gold</h3>
  </div>

  <div class="col-md-10 col-sm-12">
    <a href="https://innoq.de/"
       target="_blank"
       class="mr-md-2">
      <img style="max-height: 120px;"
           src="/images/2025/innoq2025.png"
           alt="innoQ Deutschland GmbH">
    </a>
  </div>
</div>

<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Silver</h3>
  </div>

  <div class="col-md-10 col-sm-12">
    <a href="https://www.entwickler.de"
       target="_blank">
      <img src="/images/2025/Ede_Akademie_logo_Gruen_GT_1505.png"
           height="145"
           alt="Entwickler.de Akademie">
         </a>
  </div>
</div> 


  
<div class="row" >
  <div class="col-md-2 col-sm-12">
    <h3>Bronze</h3>
  </div>

  <div class="col-md-10 col-sm-12">
    <a href="https://www.tngtech.com"
       target="_blank">
      <img src="/images/2025/TNG_Logo_mitSlogan.png"
           height="70"
           alt="TNG Technology Consulting">

       <a href="https://www.well-typed.com" target="_blank"
	     class="mr-md-2">
	   <img src="/images/wtnlogotext-paths.svg"
		height="70"
		alt="Well-Typed LLD"></a>
    </a>
  </div>
</div> 

{% endif %}
