{% if page.language == "de" or page.language == null %}		
 <h2> Sponsoren </h2>
     <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Platin</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="350" alt="SPONSORNAME"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
      <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="150" alt="SPONSORNAME"></a></div>
     
    </div>
</div>
<div class="row" >
    <div class="col-md-2 col-sm-12">
      <h3>Silber</h3>
    </div>
    <div class="col-md-10 col-sm-12">
<p> <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="75" alt="SPONSORNAME"></a></p>

</div>
      
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
               <p> <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="50" alt="SPONSORNAME"></a></p>
    </div>
</div>

{% else %}

 <h2> Sponsors </h2>
     <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Platinum</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="350" alt="SPONSORNAME"></a>
    </div>
</div>

<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
      <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="150" alt="SPONSORNAME"></a></div>
     
    </div>
</div>
<div class="row" >
    <div class="col-md-2 col-sm-12">
      <h3>Silver</h3>
    </div>
    <div class="col-md-10 col-sm-12">
<p> <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="75" alt="SPONSORNAME"></a></p>

</div>
      
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
               <p> <a href="https://URL " target="_blank" class="mr-md-2"><img src="/images/SPONSORLOGO.svg" height="50" alt="SPONSORNAME"></a></p>
    </div>
</div>
{% endif %}
 
