{% if page.language == "de" or page.language == null %}		
 <h2> Sponsoren </h2>
<!-- <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Platin</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="" target="_blank" class="mr-md-2"><img src="/images/IMAGE.JPG" height="250" alt="URL"></a>
    </div>
</div>
-->
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>
    <div class="col-md-10 col-sm-12">
      <a href="https://frobese.de/" target="_blank" class="mr-md-2"><img src="/images/frobese-logo-blue.svg" height="150" alt="frobese GmbH Informatikservices"></a></div>
      <!--
	<a href="e/" target="_blank" class="mr-md-2"><img src="/images/IMAGE.jpg" height="150" alt="ALTTEXT"></a>
    </div> -->
</div>
<!-- <div class="row" >
    <div class="col-md-2 col-sm-12">
      <h3>Silber</h3>
    </div>
    <div class="col-md-10 col-sm-12">
<a href="e/" target="_blank" class="mr-md-2"><img src="/images/IMAGE.jpg" height="150" alt="ALTTEXT"></a>
    </div>
</div>
-->
      
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
       <p> <a href="https://www.wire.com" target="_blank"><img src="/images/wire-wordmark.svg" height="50" alt="Wire"></a></p>
         <p> <a href="https://www.innoq.com" target="_blank"><img src="/images/innoq-logo--petrolapricot.svg" height="50" alt="INNOQ Deutschland"></a></p>
    </div>
</div>

{% else %}

<h2> Sponsors </h2>
<!-- <div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Platinum</h3>
    </div>
    <div class="col-md-10 col-sm-12">
        <a href="https://platform.sh/" target="_blank" class="mr-md-2"><img src="/images/Platformsh_logo_black.svg" height="250" alt="platform.sh"></a>
    </div>
</div> -->
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3> Gold</h3>
    </div>

    <div class="col-md-10 col-sm-12">
      <a href="https://frobese.de/" target="_blank" class="mr-md-2"><img src="/images/frobese-logo-blue.svg" height="150" alt="frobese GmbH Informatikservices"></a></div></div>
      <!--
<div class="row" >
    <div class="col-md-2 col-sm-12">
      <h3>Silver</h3>
    </div>
    <div class="col-md-10 col-sm-12">
<a href="https://www.tngtech.com" target="_blank"><img src="/images/tng-logox2-2.png" height="75" alt="TNG Technology Consulting"></a>
    </div>
</div>
-->
<div class="row" >
    <div class="col-md-2 col-sm-12">
        <h3>Bronze</h3>
    </div>
    <div class="col-md-10 col-sm-12">
       <p> <a href="https://www.wire.com" target="_blank"><img src="/images/wire-wordmark.svg" height="50" alt="Wire"></a></p>
         <p> <a href="https://www.innoq.com" target="_blank"><img src="/images/innoq-logo--petrolapricot.svg" height="50" alt="INNOQ Deutschland"></a></p>
    </div>
    </div>
</div>

{% endif %}
