<div style="display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2ex;">
  <div style="width: 150px; height: 150px; position: relative;">
    <img style="width: 100px;
                height: 100px;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                border-radius: 100%;
                box-shadow: 0 4px 16px rgba(0,0,0,0.3);"
         src="{{ include.portrait1 }}" />
    <img style="width: 100px;
                height: 100px;
                position: absolute;
                bottom: 0;
                right: 0;
                object-fit: cover;
                border-radius: 100%;
                box-shadow: 0 4px 16px rgba(0,0,0,0.3);"
         src="{{ include.portrait2 }}" />
  </div>
  <b>{{ include.speaker1 }} & {{ include.speaker2 }}</b>
  <h5 style="font-size: 1.2em; line-height: 1.3em; font-weight: normal;">
    <a href="{{ include.url }}" style="color: inherit;">
      {{ include.title }}
    </a>
  </h5>
</div>
