---
layout: default
active: bob2025
title: BOB 2025
head: 2025
language: de
---

{% include head-2025.html %}


<div class="container content">
 <h1 align="center">Die Software&shy;entwick&shy;lungs&shy;konferenz für alle, denen der Status Quo nicht&nbsp;reicht.</h1>
  <div class="row">
        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5"> <h3> Programm </h3> <p>
            Unser <a href="programmkomitee.html">Programmkomitee</a>
	    mit Experten aus Industrie und Forschung hat das
            Programm zusammengestellt.</p>
          <a class="btn btn-success btn-block d-md-none mb-5" href="program.html"> Programm </a>
        </div>
	
        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
          <h3> Location </h3>
          <p>Die BOB 2025 findet wieder im Scandic-Hotel Potsdamer Platz in Berlin statt.
	  </p>
          <a class="btn btn-success btn-block d-md-none mb-5" href="local.html">Anfahrt</a>
        </div>

	<div class="col-md-6 col-sm-12 front-page-col pr-lg-5" >
	  <h3> Aktuelles </h3>
	  <p>Der Lean-Workshop <a href="https://leaning.in/">Leaning In! 2025</a>
	    findet in Berlin am 13. März statt, also am Tag vor der BOB.</p>
	  <p><a href="http://bobkonf.de/2025/bieniusa.html">Annette Bieniusa</a>, Professorin an der RPTU, wird die Keynote halten: "Local-first Software".</p>
          <a class="btn btn-success btn-block d-md-none mb-5" href="registration.html">Zur Anmeldung</a>
	
	</div>
	
    </div>
    <div class="row d-none d-md-flex">
      <!-- we show the buttons as a row for alignment for everything bigger sm  -->
      
      <div class="col-md-3 pr-lg-5" >
        <a class="btn btn-success btn-block" href="program.html"> Programm </a>
      </div>
      
      <div class="col-md-3 pr-lg-5" >
        <a class="btn btn-success btn-block" href="local.html"> Zur Anfahrt </a>
      </div>

      <div class="col-md-6 pr-lg-5" >
        <a class="btn btn-success btn-block" href="registration.html">Zur Anmeldung</a>
      </div>
    </div>
</div>

<div class="splash">
     <div class="top"></div>
    <div class="content bulb">
        <div class="container">
            <div class="bulb-image" ></div>
            <h2> Was passiert, wenn wir einfach mal das Beste nehmen? </h2>
            <div class="row">
                <div class="col-lg-4 short-text">
                    Sind Sie an <b><u>Technologien jenseits des Mainstream</u></b> interessiert? Die zu benutzen eine  Freude ist und die Sie effektiv bei der Arbeit unterstützen?
                </div>
                <div class="col-lg-8 long-text">
                   Softwareentwicklerinnen, Softwarearchitekten und Macherinnen treffen sich, um gemeinsam die besten Werkzeuge aufzuspüren, die es heute für die Entwicklung moderner Software gibt. Jeder Teilnehmer soll viele neue Erfahrungen und Verbesserungen für sein eigenes Entwicklungsumfeld mitnehmen.
                    Wir sind der Vielfalt verpflichtet: Wir wollen eine Vielzahl von Werkzeugen in freundlicher und offener Gesellschaft erforschen. Eine Reihe von Förderungsmöglichkeiten für Teilnehmerinnen und Teilnehmer aus sonst unterrepräsentierten Gruppen stehen zur Verfügung.
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"> </div>
</div>


<div class="container sponsors">
    {% include partner2025.html %}
</div> 

<div class="splash">
    <div class="top"></div>
    <div class="content partners">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 pb-sm-5 pb-md-0">
            <h2> Organisiert von </h2>
	    <a href="http://www.active-group.de"target="_blank" class="pr-5"><img src="/images/active-group-logo-large.png" alt="Active Group GmbH"  style="max-width: 50%;"></a>
          </div>
 <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0">
            <h2>Partner</h2>
            <a href="http://zurihac.info/" target="_blank" class="pr-5">
              <img src="/images/partner/zurihac.png" width="150" alt="ZuriHac">
            </a>
            <a href="https://fun-ocaml.com/" target="_blank" class="pr-5">
              <img src="/images/partner/fun-ocaml.png" width="150" alt="ZuriHac">
            </a>
            <a href="https://leaning.in/" target="_blank" class="pr-5">
              <img src="/images/partner/leaning-in.png" width="150"
		   alt="Leaning In!">
            </a>
            <a href="https://codebeameurope.com/" target="_blank" class="pr-5">
              <img src="/images/partner/codebeam.png" width="150"
		   alt="CodeBeam Europe">
            </a>
          </div>
	  
        </div>
      </div>
    </div>
</div>
