---
layout: default
title: BOB Archive – Joachim Breitner
active: archive
head: 2025
language: en
---

<div class="container content">
  <h1>Bob Conference Archive – Joachim Breitner</h1>
  <p>This archive holds all talks by Joachim Breitner. Joachim
  contributed to Haskell compilers, helped out in the Haskell steering
  committee and is a co-host of the Haskell Interlude
  podcast. Currently he works on the Lean programming language and
  compiler at the Lean FRO.</p>

  <hr />

  <ul style="display: flex; flex-direction: column; gap: 1ex; padding: 0;">
    {% assign pages = site.pages | sort: "head" | reverse %}
    {% for page in pages %}
    {% if page.speaker contains "Joachim Breitner" and page.type contains "Vortrag" %}

    <li>
      <a href="{{ page.url }}">{{ page.title }}<br /><i>{{ page.head }}</i></a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <hr />

</div>
