---
layout: default
title: BOB Archive – English talks
active: archive
head: 2025
language: en
---

<div class="container content">
  <h1>Bob Conference Archive – English talks</h1>
  <p>This archive holds all English language talks from Bob 2015 to Bob 2025.</p>

  <hr />

  <h2 style="font-size: 1em;">2025</h2>
  {% include list_for_edition.html edition=2025 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2024</h2>
  {% include list_for_edition.html edition=2024 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2023</h2>
  {% include list_for_edition.html edition=2023 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2022</h2>
  {% include list_for_edition.html edition=2022 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2021</h2>
  {% include list_for_edition.html edition=2021 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2020</h2>
  {% include list_for_edition.html edition=2020 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2019 Summer Edition</h2>
  {% include list_for_edition.html edition="2019 Summer" language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2019</h2>
  {% include list_for_edition.html edition=2019 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2018</h2>
  {% include list_for_edition.html edition=2018 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2017</h2>
  {% include list_for_edition.html edition=2017 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2016</h2>
  {% include list_for_edition.html edition=2016 language="english" %}

  <hr />

  <h2 style="font-size: 1em;">2015</h2>
  {% include list_for_edition.html edition=2015 language="english" %}

</div>
