---
layout: default
title: BOB Archive – Workshops and tutorials
active: archive
head: 2025
language: en
---

<div class="container content" style="padding-bottom: 2em;">
  <h1>Bob Conference Archive – Workshops and tutorials</h1>
  <p>This archive holds all English language talks from Bob 2015 to Bob 2025.</p>

  {% assign pages = site.pages
  | where: "language", "english"
  | where: "type", "Tutorial" %}
  {% if pages.size > 0 %}
  <h2>English</h2>
  <ul style="display: flex; flex-direction: column; gap: 1ex; padding: 0;">
    {% for page in pages %}
    <li>
      {% include talk_link.html url=page.url title=page.title speaker=page.speaker edition=page.edition language=page.language %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  No workshops or tutorials in English
  {% endif %}

  <hr />

  {% assign pages = site.pages
  | where: "language", "german"
  | where: "type", "Tutorial" %}
  {% if pages.size > 0 %}
  <h2>German</h2>
  <ul style="display: flex; flex-direction: column; gap: 1ex; padding: 0;">
    {% for page in pages %}
    <li>
      {% include talk_link.html url=page.url title=page.title speaker=page.speaker edition=page.edition language=page.language %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  No workshops or tutorials in German
  {% endif %}

</div>
