---
title: BOB Archive – User Interfaces
layout: default
active: archive
head: 2025
language: en
---

<div class="container content">
  <h1>Archive – User Interfaces</h1>
  <p>This archive holds all talks from previous Bob conferences about UI design and programming.</p>

  <hr />

  <ul style="display: flex; flex-direction: column; gap: 1ex; padding: 0;">
    {% assign pages = site.pages | sort: "head" | reverse %}
    {% for page in pages %}
    {% if page.topic contains "ui" and page.type contains "Vortrag" %}

    <li>
      <a href="{{ page.url }}">{{ page.title }}<br /><i>{{ page.speaker }}</i></a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <hr />

</div>
