---
layout: default
active: bob2027
title: BOB 2027
head: 2027
language: de
---

{% include head-2027-hero.html %}

<div class="container content">
 <h1 style="font-weight: bold;">Die Software&shy;entwick&shy;lungs&shy;konferenz
 für alle, denen der Status Quo nicht&nbsp;reicht.</h1>
 <p>
   Softwareentwicklerinnen, Softwarearchitekten und Macherinnen treffen
   sich, um gemeinsam die besten Werkzeuge aufzuspüren, die es heute für
   die Entwicklung moderner Software gibt. Alle, die dabei sind, sollen
   viele neue Erfahrungen und Verbesserungen für das eigene
   Entwicklungsumfeld mitnehmen.
 </p>
 
 <div class="row" style="margin-top: 4em;">
   <div class="col-md-3 col-sm-12 front-page-col pr-lg-5">
     <h3> Programm </h3>

     	<p>Unser <a href="programmkomitee.html">Programmkomitee</a> wird das Programm zusammenstellen. Das Programm wird voraussichtlich zwei
	Vortrags-Spuren und zwei mit Tutorials haben.</p>

     <a class="btn btn-light btn-block d-md-none
               mb-5" href="programmkomitee.html"> Programmkomitee </a>
   </div>
   <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
     <h3> Location </h3>
     <p>Die BOB 2027 findet im Scandic-Hotel Potsdamer Platz in Berlin
     statt.
     </p>
     
     <a class="btn btn-light btn-block d-md-none mb-5"
     href="local.html"> Anfahrt </a>
   </div>
   <div class="col-md-3 col-sm-12 front-page-col pr-lg-5">
     <h3> Call </h3>
     
          <p>Der Call for Contributions wird beizeiten hier angekündigt -- startet vermutlich im September.</p>
   

     <a class="btn btn-light btn-block d-md-none mb-5"
     href="">Folgt </a>
   </div>
 <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
     <h3> Aktuelles </h3>
     
    
     <p>Schreibt es euch in den Kalender: die #BOBkonf2027 findet am 26. Feburar 2027 statt!
     </p>

   </div>
   
   </div>
 
 <div class="row d-none d-md-flex">
   
   <!-- we show the buttons as a row for alignment for everything
        bigger sm -->
   
   
   <div class="col-md-3 pr-lg-5" >
     <a class="btn btn-light btn-block" href="programmkomitee.html">
        Programmkomitee </a>
   </div>
   
   <div class="col-md-3 pr-lg-5" >
     <a class="btn btn-light btn-block" href="local.html">
       Zur Anfahrt </a>
   </div>
   
   <div class="col-md-3 pr-lg-5" >
     <a class="btn btn-light btn-block" href="">Folgt </a>
   </div>

   <!--  <div class="col-md-3 pr-lg-5" >
     <a class="btn btn-success btn-block" href="registration.html"> Anmeldung </a>
   </div> -->
   
</div>
 </div>

<!-- 
<div class="container content" style="margin-top: 8em;">
  <h2>Speaker line up 2027</h2>
</div> 
-->

<div class="splash">
  <div class="top"></div>
  <div class="content bulb">
    <div class="container">
      <div class="bulb-image" ></div>
      <h2> Was passiert, wenn wir einfach mal das Beste
        nehmen? </h2>
      <div class="row">
        <div class="col-lg-4 short-text">
          Sind Sie an <b><u>Technologien jenseits des
              Mainstream</u></b> interessiert? Die zu benutzen
          eine Freude ist und die Sie effektiv bei der
          Arbeit unterstützen?
        </div>
        <div class="col-lg-8 long-text"><p class="p4">
            Softwareentwicklerinnen, Softwarearchitekten und
            Macherinnen treffen sich, um gemeinsam die besten
            Werkzeuge aufzuspüren, die es heute für die
            Entwicklung moderner Software gibt. Alle, die dabei
            sind, sollen viele neue Erfahrungen und
            Verbesserungen für das eigene Entwicklungsumfeld
            mitnehmen.</p>
          <p class="p4"> Wir sind der Vielfalt verpflichtet:
            Wir wollen eine Vielzahl von Werkzeugen in
            freundlicher und offener Gesellschaft erforschen.
            Eine Reihe von Förderungsmöglichkeiten für
            Teilnehmerinnen und Teilnehmer aus sonst
            unterrepräsentierten Gruppen stehen zur Verfügung.
          </p>
      <!--    <p>
           <a class="btn btn-success btn-block" href="registration.html">Ticket kaufen</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="bottom"> </div>
</div>




 <div class="container sponsors">


    {% include partner2027.html %}


</div> 


<div style="margin-bottom: 6em;">
    <div class="top"></div>
    <div class="content partners">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 pb-sm-5 pb-md-0">
            <h2> Organisiert von </h2>
	    <a href="http://www.active-group.de"target="_blank"
	    class="pr-5"><img src="/images/active-group-logo-large.png"
	    alt="Active Group GmbH" style="max-width: 50%;"></a>
          </div>
 






                <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0">


                    <h2> Partner </h2>
 <a href="http://zurihac.info/" target="_blank"
class="pr-5"> <img src="/images/partner/ZuriHac-Minimal-Logo.svg"
width="150" alt="ZuriHac"> </a>
                    
   <a href="https://leaning.in/" target="_blank" class="pr-5">
              <img src="/images/partner/leaning-in.png" width="150"
		   alt="Leaning In!">
            </a>
         
       <a href="https://opensecurityconference.org/" target="_blank" class="pr-5">
              <img src="/images/partner/osco-logo-with-name.png" width="150"
		   alt="Open Security Conference">
            </a>
                </div>
            </div>
        </div>
    </div>
</div>

