---
layout: default
active: bob2020
title: BOB 2020
head: 2020
language: de
---

{% include head-2020.html %}

<div class="container content">
    <div class="row">
        
        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5"
        > <h3> Informationen </h3> <p>
            Der <a href="cfc.html">Call for Contributions</a>
            läuft &ndash; Deadline ist der 8. November.<br/>
            Unser <a href="programmkomitee.html">Programmkomitee</a>
		        mit Experten aus Industrie und Forschung wird das
            Programm zusammenstellen.</p>
            <a class="btn btn-success btn-block d-md-none
                      mb-5" href="/2020/gallery"> Call for Contributions </a>
        </div>

        <div class="col-md-3 col-sm-12 front-page-col
			              pr-lg-5"> <h3> Programm </h3>
		        <p><a href="https://heather.miller.am/">Heather
		            Miller</a> wird
		            die <a href="/2020/miller.html">Keynote</a> halten.</p>
		        
            <a class="btn btn-success btn-block d-md-none mb-5" href="/2020/miller.html"> Keynote </a>
        </div>
        <!-- inserted here -->
		    <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
		        <h3> Aktuelles </h3>
		        <p>Die <a href="registration.html">Anmeldung</a> für die BOB 2020 ist eröffnet!
		        </p>
		        <p>
		            Auf die BOB wird wieder direkt unsere
		            Partnerkonferenz <a href="https://clojured.de/">:clojureD</a>
		            folgen, ebenfalls in Berlin.
		        </p>    		  
            <a class="btn btn-success btn-block d-md-none mb-5" href="registration.html"> Anmeldung </a>
        </div>
        <!-- inserted above -->
        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
            <h3> Location </h3>
            <p> Das Gebäude der Lohmann & Birkner Health Care Consulting GmbH in Alt-Reinickendorf bietet ein professionelles, atmosphärisches und barrierefreies Ambiente. </p>
            <a class="btn btn-success btn-block d-md-none mb-5" href="local.html"> Zur Anfahrt </a>
        </div>
        <!-- yanked from here -->		
    </div>
    <div class="row d-none d-md-flex">
        <!-- we show the buttons as a row for alignment for everything bigger sm  -->

        <div class="col-md-3 pr-lg-5" >
            <a class="btn btn-success btn-block" href="cfc.html"> Call
                for Contributions </a>
        </div>

        <div class="col-md-3 pr-lg-5" >
            <a class="btn btn-success btn-block" href="/2020/miller.html"> Keynote </a>
        </div>
		    <div class="col-md-3 pr-lg-5" >
		        <a class="btn btn-success btn-block" href="registration.html"> Anmeldung </a>
        </div>
        <div class="col-md-3 pr-lg-5" >
            <a class="btn btn-success btn-block" href="local"> Zur Anfahrt </a>
        </div>
		    
    </div>
</div>


<div class="splash">
    <div class="top"></div>
    <div class="content bulb">
        <div class="container">
            <div class="bulb-image" ></div>
            <h2> Was passiert, wenn wir einfach mal das Beste nehmen? </h2>
            <div class="row">
                <div class="col-lg-4 short-text">
                    Sind Sie an <b><u>Technologien jenseits des Mainstream</u></b> interessiert? Die eine Freude zu benutzen
                    sind und Sie effektiv bei der Arbeit unterstützen?
                </div>
                <div class="col-lg-8 long-text">
                    Entwicklerinnen, Architekten und Macherinnen treffen sich, um gemeinsam die besten Werkzeuge aufzuspüren, die es heute für die Entwicklung moderner Software gibt. Jeder Teilnehmer soll viele neue Erfahrungen und Verbesserungen für sein eigenes Entwicklungsumfeld mitnehmen.
                    Wir sind der Vielfalt verpflichtet: Wir wollen eine Vielzahl von Werkzeugen in freundlicher und offener Gesellschaft erforschen. Eine Reihe von Förderungsmöglichkeiten für Teilnehmerinnen und Teilnehmer aus sonst unterrepräsentierten Gruppen stehen zur Verfügung.
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"> </div>
</div>

<div class="container sponsors">
    {% include partner2020.html %}
</div>


<div class="splash">
    <div class="top"></div>
    <div class="content partners">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 pb-sm-5 pb-md-0">
                    <h2> Organisiert von </h2>
	                  <a href="http://funktionale-programmierung.de/" target="_blank" class="pr-5"><img src="/images/fp-logo.png" alt="FP"></a>
	                  <a href="http://www.active-group.de" target="_blank" class="pr-5"><img src="/images/active-group-logo.png" alt="Active Group GmbH"></a>
	                  <a href="http://www.checkpad.de/" target="_blank" class="pr-5"><img src="/images/checkpad-logo.png" alt="Checkpad"></a>
                </div>

                <div class="col-md-4 col-sm-12 pt-sm-5 pt-md-0">
                    <h2> Partner </h2>
                    <a href="http://racketfest.com/" target="_blank" class="pr-5"><img src="/images/racketfest-logo.png" alt="Racketfest"></a>
                    <a href="http://clojured.de/" target="_blank" class="pr-5"><img src="/images/clojured.png" alt=":clojureD"></a>
                    <a href="http://www.lambdadays.org/" target="_blank" class="pr-5"><img src="/images/lambda-days-logo.png" alt="Lambda Days"></a>
                </div>

            </div>
        </div>
    </div>
</div>

