---
layout: default
active: bob2020
title: BOB 2020
head: 2020
language: de
---

{% include head-2020.html %}

<div class="container content">
    <div class="row">
        
        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5"
        > <h3> Informationen </h3> <p>
            Die BOB 2020 war eine super Konferenz – vielen Dank allen Beteiligten!</br>
            Das <a href="program.html">Programm</a> inklusive Videos und Folien der Vorträge ist weiterhin online..</p>
          <!--  <a class="btn btn-success btn-block d-md-none
                      mb-5" href="/2020/gallery"> Call for Contributions </a> -->
        </div>

        <div class="col-md-3 col-sm-12 front-page-col
		    pr-lg-5"> <h3> Programm </h3>
	  <p>Unser <a href="program.html">Programm</a> bestand aus
	    vier Tracks mit 14 Vorträgen und 8 Tutorials!</p>
		        <p><a href="https://heather.miller.am/">Heather
		            Miller</a> hat
		            die <a href="/2020/miller.html">Keynote</a>
		          gehalten.
			 <br/>
	  <a href="http://cargocollective.com/tiemposdelruido">Alexandra
		      Cárdenas</a> hat  die BOB mit
		      einer <a href="/2020/cardenas-performance.html">Livecoding-Peformance</a>
		      eröffnet!</p>

		        
            <a class="btn btn-success btn-block d-md-none mb-5" href="program.html"> Programm </a>
        </div>
        <!-- inserted here -->
		    <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
		        <h3> Aktuelles </h3>
		        <p>Das <a href="program.html">Programm</a> ist
		        oben!
		        </p>
		        <p>Am Tag vor der BOB findet das <a href="https://racketfest.com" target="_blank">Racketfest 2020</a> statt;
		            auf die BOB wird wieder direkt unsere
		            Partnerkonferenz <a href="https://clojured.de/">:clojureD</a>
		            folgen, beide ebenfalls in Berlin.
		        </p>    		  
            <a class="btn btn-success btn-block d-md-none mb-5" href="registration.html"> Anmeldung </a>
        </div>
        <!-- inserted above -->
        <div class="col-md-3 col-sm-12 front-page-col pr-lg-5" >
            <h3> Location </h3>
            <p> Das Gebäude der Lohmann & Birkner Health Care Consulting GmbH in Alt-Reinickendorf bietet ein professionelles, atmosphärisches und barrierefreies Ambiente. </p>
            <a class="btn btn-success btn-block d-md-none mb-5" href="local.html"> Zur Anfahrt </a>
        </div>
        <!-- yanked from here -->		
    </div>
    <div class="row d-none d-md-flex">
        <!-- we show the buttons as a row for alignment for everything bigger sm  -->


        <div class="col-md-6 pr-lg-5" >
            <a class="btn btn-success btn-block" href="program.html"> Programm </a>
        </div>
		    <div class="col-md-3 pr-lg-5" >
		        <a class="btn btn-success btn-block" href="registration.html"> Anmeldung </a>
        </div>
        <div class="col-md-3 pr-lg-5" >
            <a class="btn btn-success btn-block" href="local"> Zur Anfahrt </a>
        </div>
		    
    </div>
</div>


<div class="splash">
    <div class="top"></div>
    <div class="content bulb">
        <div class="container">
            <div class="bulb-image" ></div>
            <h2> Was passiert, wenn wir einfach mal das Beste nehmen? </h2>
            <div class="row">
                <div class="col-lg-4 short-text">
                    Sind Sie an <b><u>Technologien jenseits des Mainstream</u></b> interessiert? Die eine Freude zu benutzen
                    sind und Sie effektiv bei der Arbeit unterstützen?
                </div>
                <div class="col-lg-8 long-text">
                    Entwicklerinnen, Architekten und Macherinnen treffen sich, um gemeinsam die besten Werkzeuge aufzuspüren, die es heute für die Entwicklung moderner Software gibt. Jeder Teilnehmer soll viele neue Erfahrungen und Verbesserungen für sein eigenes Entwicklungsumfeld mitnehmen.
                    Wir sind der Vielfalt verpflichtet: Wir wollen eine Vielzahl von Werkzeugen in freundlicher und offener Gesellschaft erforschen. Eine Reihe von Förderungsmöglichkeiten für Teilnehmerinnen und Teilnehmer aus sonst unterrepräsentierten Gruppen stehen zur Verfügung.
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"> </div>
</div>

<div class="container sponsors">
    {% include partner2020.html %}
</div>


<div class="splash">
    <div class="top"></div>
    <div class="content partners">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pb-sm-5 pb-md-0">
                    <h2> Organisiert von </h2>
	                  <a href="http://funktionale-programmierung.de/" target="_blank" class="pr-5"><img src="/images/fp-logo.png" alt="FP"></a>
	                  <a href="http://www.active-group.de" target="_blank" class="pr-5"><img src="/images/active-group-logo.png" alt="Active Group GmbH"></a>
	                  <a href="http://www.checkpad.de/" target="_blank" class="pr-5"><img src="/images/checkpad-logo.png" alt="Checkpad"></a>
                </div>

                <div class="col-md-6 col-sm-12 pt-sm-5 pt-md-0">
                    <h2> Partner </h2>
                    <a href="http://racketfest.com/" target="_blank" class="pr-5"><img src="/images/2020-racketfest-logo.png" width="150" alt="Racketfest"></a>
                    <a href="http://clojured.de/" target="_blank" class="pr-5"><img src="/images/clojured.png" alt=":clojureD"></a>
                    <a href="http://www.lambdadays.org/" target="_blank" class="pr-5"><img src="/images/lambda-days-logo.png" alt="Lambda Days"></a>
                   <a href="https://www.manning.com/" target="_blank"  class="pr-5"><img src="/images/manning.svg" width="200" alt="Manning"></a>
                    <a href="https://fby.dev/" target="_blank"  class="pr-5" ><img src="/images/FBY_LOGO.svg" width="150" alt="f(by)"></a>
                </div>

            </div>
        </div>
    </div>
</div>

