<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BOB Konferenz 2015, Best of Breed Konferenz für Software-Entwickler und Entscheider in der Softwareentwicklung.">
    <meta name="author" content="Stefan Wehr">
    <meta name="google-site-verification" content="O1jBvQcfJ8Id-HYejjUMhE6LuVrWebMF9rCuME1TgXQ" />

    <title>BOB 2015</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">
    
    <link href="bob-style.css" rel="stylesheet">

    <script type='text/javascript' src='bob.js'></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  </head>

  <body>
      {{ content }}
  </body>
</html>