<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BOB Konferenz, Best of Breed Konferenz für Software-Entwickler und Entscheider in der Softwareentwicklung.">
    <meta name="author" content="Stefan Wehr">
    <meta name="google-site-verification" content="O1jBvQcfJ8Id-HYejjUMhE6LuVrWebMF9rCuME1TgXQ" />

    <title>BOB - {{ page.title }}</title>

    {% if page.head < 2019 %}
    {% include old_head_section.html %}
    {% else %}
    {% include head_section.html %}
    {% endif %}
  </head>

  <body>

      {% if page.head < 2019 %}
      {% include old_body.html %}
      {% include footer.html %}
      {% else %}
      <div class="main" >
          {% include body.html %}
          {% include footer.html %}
      </div>
      {% endif %}
	
	<!-- /div --> <!-- / bob container -->

  </body>

  {% if page.head < 2019 %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/old/bootstrap.min.js"></script>
    <script>
      var h = document.getElementById("sticky-navbar");
      var nch = document.getElementById("static-navi")
      var initial = h.offsetTop;
      var sticky = false;

      
      window.onscroll = function(e){
    	  var distance = h.offsetTop - window.pageYOffset;
          if((distance <= 0 ) && !sticky) {
                h.style.position = 'fixed';
                h.style.top = '0px';
                sticky = true;
          } else if (sticky && (window.pageYOffset <= initial)){
                h.style.position = 'relative';
                sticky = false;
          }    	  
        }
        
        window.onresize = function(e){
        	initial  = nch.offsetTop;
        	var distance = h.offsetTop - window.pageYOffset;
            if((distance <= 0 ) && !sticky) {
                  h.style.position = 'fixed';
                  h.style.top = '0px';
                  sticky = true;
            } else if (sticky && (window.pageYOffset <= initial)){
                  h.style.position = 'relative';
                  sticky = false;
            }    	  
        }
        
    </script>

    {% else %}
    <script type='text/javascript' src='/js/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src="/js/countdown.js"></script>
    <script>
        window.onload = function() {
            // UTC = GMT and Berlin is GMT+1. Dont forget to subtract one hour.
            // and don't forget that month start with 0
            var countDownDate = new Date(Date.UTC(2021, 1, 26, 8-1, 0, 0)).getTime();
            initCountdown(
                countDownDate,
                "counter2021-elem-days",
                "counter2021-elem-hours",
                "counter2021-elem-minutes",
                "counter2021-elem-seconds"
            );
        };
    </script>

    {% endif %}
</html>
