---
layout: default
---

{% if page.language == null or page.language == "german" %}
<h4>{{page.type}}: {{page.time}} (deutsch)</h4>
{% else %}
{% if page.type == "Vortrag" %}
<h4>Talk: {{page.time}} (English)</h4>
{% else %}
<h4>Tutorial: {{page.time}} (English)</h4>
{% endif %}
{% endif %}

<div class="row">
      <div class="col-lg-8">
	  <h3>{{page.speaker}}</h3>
	  <h2 style="text-align: left">{{page.title}}</h2>
	{{ content }}
      </div>
{% if page.portrait %}
      <div class="col-lg-4">
	<img src="portrait/{{page.portrait}}"></img>
{% if page.portrait2 %}
	<img src="portrait/{{page.portrait2}}"></img>
{% endif %}
      </div>
{% endif %}
</div> 
