---
layout: default
---

<div class="content talk mb-5">
    <div class="container">
        {% if page.language == null or page.language == "german" %}
        <h4>{{page.type}}: {{page.time}} (deutsch)</h4>
        {% else %}
        {% if page.type == "Vortrag" %}
        <h4>Talk: {{page.time}} (English)</h4>
        {% else %}
        <h4>Tutorial: {{page.time}} (English)</h4>
        {% endif %}
        {% endif %}
    </div>

    <div class="container" >
        <div class="row">
            <div class="col-lg-8">
	              <h1 style="text-align: left">{{page.title}}</h1>
	              {{ content }}
                {% if page.slides-file or page.slides-link %}
	              <dl>
	                  <dt>
                        {% if page.language == null or page.language == "german" %}
	                      Folien
                        {% else %}
	                      Slides
                        {% endif %}
	                  </dt>
	                  <dd>
                        {% if page.slides-file %}
	                      <a href="slides/{{page.slides-file}}">{{page.slides-file}}</a>
                        {% endif %}
                        {% if page.slides-link %}
	                      <a href="{{page.slides-link}}">{{page.slides-link}}</a>
                        {% endif %}
	                  </dd>
	              </dl>
                {% endif %}
                {% if page.video %}
	              <dl>
	                  <dt>Video</dt>
	                  <dd>
	                      <div class="video">
                            <iframe src="https://media.ccc.de/v/{{page.video}}/oembed/"
                            width="720" height="405"
                            allowfullscreen></iframe>
	                      </div>
	                      <a href="https://media.ccc.de/v/{{page.video}}">https://media.ccc.de/v/{{page.video}}</a>
                    </dd> 
                 {% endif %}
                 {% if page.youtube %}
	              <dl>
	                  <dt>Video</dt>
	                  <dd>
	                      <div class="video">
                            <iframe src="https://www.youtube.com/embed/{{page.youtube}}" width="720" height="405" allowfullscreen></iframe>
	                      </div>
	                      <a href="http://youtu.be/{{page.youtube}}">http://youtu.be/{{page.youtube}}</a>
                    </dd>
	              </dl>
                {% endif %}
                {% if page.sketchnote %}
	              <dl>
	                  <dt>Sketchnote</dt>
	                  <img src="sketchnotes/{{page.sketchnote}}"
                         width="75%"
                         height="75%"></img>
                    <dd>Sketchnote by Joy Clark</dd>
                    <a href="https://joyclark.org/" target="_blank">https://joyclark.org/</a>
	              </dl>
                {% endif %}
                
            </div>
             {% if page.portrait %}
            <div class="col-lg-4">
	      <img style="width: 300px;
                          height: 300px;
                          object-fit: cover;
                          {% if page.portrait-position %}
                          object-position: {{ page.portrait-position }};
                          {% endif %}
                          border-radius: 100%;"
                   src="portrait/{{page.portrait}}" />
              {% if page.portrait2 %}
	      <img style="width: 300px;
                          height: 300px;
                          object-fit: cover;
                          {% if page.portrait-position2 %}
                          object-position: {{ page.portrait-position2 }};
                          {% endif %}
                          border-radius: 100%;"
                   src="portrait/{{page.portrait2}}" />
                {% endif %}
            </div>
            {% endif %}
        </div> 

    </div>

</div>
